@model Курсовая.Доклады

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Доклад @Model.ID_доклада</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Направление)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Направление)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Публикация)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Публикация)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Денежный_взнос)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Денежный_взнос)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_минут)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_минут)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Баллы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Баллы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Докладчики.Паспорт)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Докладчики.Паспорт)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
