@model Курсовая.Сборник

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление данных</h2>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Сборник @Model.ID_сборник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_сборника)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_сборника)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Издательский_центр)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Издательский_центр)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.РИНЦ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.РИНЦ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стоимость)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стоимость) руб/шт
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_страниц)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_страниц)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Электронный_или_печатный_вариант)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Электронный_или_печатный_вариант)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_выпуска)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_выпуска)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рассылка_докладчикам)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рассылка_докладчикам)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Конференция.Название_конференции)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Конференция.Название_конференции)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
