@model Курсовая.Докладчики

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Докладчики</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Паспорт)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Паспорт)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_рождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Учебное_заведение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Учебное_заведение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Курс)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Курс)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Научный_руководитель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Научный_руководитель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Участники.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Участники.Фамилия)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_докладчика }) |
    @Html.ActionLink("Back to List", "Index")
</p>
