
@{
    ViewBag.Title = "База данных";
}

<h2>База данных</h2>
<div>
    @Html.ActionLink("Данные таблицы 'Конференция'", "Index", "Конференция")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Спонсоры'", "Index", "Спонсоры")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Сборник'", "Index", "Сборник")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Место проведения'", "Index", "Место_проведения")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Зона'", "Index", "Зона")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Участники'", "Index", "Участники")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Организаторы'", "Index", "Организаторы")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Обслуживающий персонал'", "Index", "Обслуживающий_персонал")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Докладчики'", "Index", "Докладчики")
</div>
<div>
    @Html.ActionLink("Данные таблицы 'Доклады'", "Index", "Доклады")
</div>
<div>
    @Html.ActionLink("Победители", "Winner", "Home")
</div>
<div>
    @Html.ActionLink("Затраты", "Budget", "Конференция")
</div>