@model Курсовая.Место_проведения

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление данных</h2>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Место проведения @Model.ID_места_проведения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стоимость_аренды)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стоимость_аренды) руб/час
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_аренды)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_аренды)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Конференция.Название_конференции)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Конференция.Название_конференции)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
