@model Курсовая.Зона

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Зона</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Предназначение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Предназначение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Технический_специалист)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Технический_специалист)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Техника)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Техника)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Место_проведения.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Место_проведения.Адрес)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_зоны }) |
    @Html.ActionLink("Back to List", "Index")
</p>
